<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <h3>Calendar</h3>
    <div><span id="filter">filter</span></div>
    <div id="calendar"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="calendar.js"></script>
    
    <script>
        myfunc = function() {
            console.log("hello");
        }
        AddCalendar(myfunc);
    </script>
</body>

</html>