body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#page {
    display: flex;
    flex-direction: row;
}
#map {
    height: 800px;
    width: 80%;
}
#calendar {
    display: flex;
    flex-wrap: wrap;
    width: 20%;

}
.month {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    width: 150px;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 5px;
    margin: 0px;
    /* margin: auto; */
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}
.week {
    margin: 0px;
    padding: 0px;
    width: 140px;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.week-lastrow {
    margin: 0px;
    padding: 0px;
    width: 60px;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*border: 1px solid #000;*/
    justify-content: left;
}
.day {
    background-color: #fff;
    color: #000;
    border-radius: 0px;
    font-size: 0.7em;
    border: 1px solid #000;
    float: left;
    width: 20px;
    text-align: center;
}
.day-selected {
    background-color: rgb(0, 89, 255);
    color: #000;
    border-radius: 0px;
    font-size: 0.7em;
    border: 1px solid #000;
    float: left;
    width: 20px;
    text-align: center;
}
.day-done {
    background-color: rgb(0, 231, 85);
    color: #000;
    border-radius: 0px;
    font-size: 0.7em;
    border: 1px solid #000;
    float: left;
    width: 20px;
    text-align: center;    
}
.day-notfound {
    background: repeating-linear-gradient(
        45deg,
        #000000,
        #000000 10px,
        #727272 10px,
        #727272 20px
      );
    /*background-color: #fff;*/
    color: #000;
    border-radius: 0px;
    font-size: 0.7em;
    border: 1px solid #000;
    float: left;
    width: 20px;
    text-align: center;
}

